@model ClientMadbordet.ViewModels.CalendarViewModel;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<ClientMadbordet.Controllers.CalendarController> Localizer

<span class="d-inline movingarrow-parent pl-3">
    <a class="movingarrow-hover text-primary" href="/Calendar/index/@Model.TheDate.AddDays(-1).ToString("yyyy'/'M'/'dd")" id="yesterday">
        &lt;
    </a>
    <span class="movingarrow-text d-inline info-left">@Localizer["Goto day before"]</span>
</span>

<span class=" mx-md-5 mx-3 d-none d-md-inline" id="today">@String.Format("{0:dddd, d. MMMM  yyyy}", @Model.TheDate)</span>

<span class="d-inline movingarrow-parent">
    <a class="movingarrow-hover text-primary" href="/Calendar/index/@Model.TheDate.AddDays(1).ToString("yyyy'/'M'/'dd")" id="tomorrow">&gt;</a>
    <span class="movingarrow-text info-right">@Localizer["Goto next day"]</span>
</span>